html{
	height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: 75px;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

p, h1, h2, h3, h4, h5, h6{
    font-family: Helvetica, sans-serif;
}

input, label{
    font-family: Helvetica, sans-serif;
}