<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{Templates.html :: head('Edit Comment')}"></div>
<body>
<div th:replace="~{Templates.html :: header}"></div>

<section>
  <section class="forum-create-post">
    <h2>Update the Comment</h2>

    <form th:action="@{__${requestURI}__}" th:object="${comment}" method="post" action="#">
      <label for="content">Update the comment</label>
      <textarea th:field="*{text}" required="" class="forum-create-post-textfield" placeholder="Start a new post..." id="content" name="postText"></textarea>
      <input class="forum-create-post-button" type="submit" value="Update">
      <div class="error-login-message" th:errors="*{text}">Title error placeholder</div>
    </form>
  </section>
</section>

</body>
</html>