<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{Templates.html :: head('Main Page')}"></div>
<body>
<div th:replace="~{Templates.html :: header}"></div>
<div th:replace="~{Templates.html :: main-header('/img/Green and White Minimalist Nature Travel Vlog Youtube Thumbnail.png')}"></div>

<section th:if="${isAuthenticated}" class="forum-create-post">



        <h2>Create new post</h2>
        <form th:action="@{__${requestURI}__}" th:object="${post}" method="post">
            <textarea class="forum-create-post-textfield" placeholder="Start a new post..." id="fname" name="postText"></textarea>
            <input class="forum-create-post-button" type="submit" value="Save">
        </form>



    </section>
    <section class="mainpage-tables" id="main-pages-forum">
        <h2>All Posts</h2>
        <div class="main-pages-forum-columns">
            <div class="mainpage-tables-section" id="forum-columns-grid">
                <a href="Post.html" th:each="post : ${posts}" th:href="@{/post/{id}(id=${post.getId()})}">
                    <div class="mainpage-tables-section-comment">
                        <h3 th:text="${post.getTitle()}">Post title</h3>
                        <p th:text="${post.getContent()}">Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute">
                        <div class="mainpage-tables-section-comment-attribute-text">
                            <p>№ of Comments:</p>
                            <p>5</p>
                        </div>
                        <div class="mainpage-tables-section-comment-attribute-text">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <p>3</p>
                        </div>
                        <div class="mainpage-tables-section-comment-attribute-text">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                            <p>2</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
</html>