<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{Templates.html :: head('Main Page')}"></div>
<body>
<div th:replace="~{Templates.html :: header}"></div>
<div th:replace="~{Templates.html :: main-header('/img/Green and White Minimalist Nature Travel Vlog Youtube Thumbnail.png')}"></div>

    <section class="mainpage-tables" id="main-pages-forum">
        <h2>All Posts</h2>
        <div class="main-pages-forum-columns">
            <div class="mainpage-tables-section" id="forum-columns-grid">
                <a href="Post.html" th:each="post : ${posts}" th:href="@{/posts/{id}(id=${post.getId()})}">
                    <div class="mainpage-tables-section-comment">
                        <h3 th:text="${post.getTitle()}">Post title</h3>
                        <p th:text="${post.getContent()}">Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute">
                        <div class="mainpage-tables-section-comment-attribute-text">
                            <p>№ of Comments:</p>
                            <p>5</p>
                        </div>
                        <div>
                            <p th:text="${post.getCreator().getUsername()}">Author</p>
                        </div>
                      <!--  <div class="mainpage-tables-section-comment-attribute-text">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <p th:text="${post.getLikedByUsers()}">3</p>
                        </div>-->
                       <!-- <div class="mainpage-tables-section-comment-attribute-text">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                            <p th:text="${post.getDislikes()}">2</p>
                        </div>-->
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
</html>