<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}">
    <link rel="stylesheet" href="../static/header-main.css" th:href="@{/header-main.css}">
    <link rel="stylesheet" href="../static/section-main-title.css" th:href="@{/section-main-title.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="../static/img/Title.png" th:href="@{/img/Title.png}">
    <title>Main Page</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
          <a href="Index.html" th:href="@{/}" class="logo"><img src="../static/img/logo_01.png" th:src="@{/img/logo_01.png}" alt="Logo"></a>
          <input class="menu-btn" type="checkbox" id="menu-btn" />
          <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
          <ul class="menu">
            <li><a href="Index.html" th:href="@{/}">Home</a></li>
            <li><a href="Forum.html" th:href="@{/forum}">Forum</a></li>
            <li><a href="User.html" th:href="@{/user}">MyProfile</a></li>
          </ul>
        </div> 
    </header>
    
    <section class="main-header">
        <img class="main-image" th:src="@{/img/Green and White Minimalist Nature Travel Vlog Youtube Thumbnail.png}" src="../static/img/Green and White Minimalist Nature Travel Vlog Youtube Thumbnail.png" alt="Cover_Photo">
        <div class="search">
            <div>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" placeholder="Search..">
            </div>
            <a href="LogIn.html" th:href="@{/login}"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
        </div>
    </section>

    <section class="title">
        <h1>Forum</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, exercitationem accusantium? Porro, similique eaque totam molestias quasi, vitae in ut ducimus maiores voluptate sint eveniet repellendus, possimus beatae? Tempora, pariatur?</p>
    </section>
    <section class="mainpage-tables">
        <div class="mainpage-tables-section">
            <h2>Top 10 recent posts</h2>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="mainpage-tables-section">
            <h2>Top 10 rated posts</h2>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
</body>
</html>