<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{Templates.html :: head('Main Page')}"></div>
<body>
    <div th:replace="~{Templates.html :: header}"></div>
    <div th:replace="~{Templates.html :: main-header('/img/Green and White Minimalist Nature Travel Vlog Youtube Thumbnail.png')}"></div>

    <header class="header" th:fragment="header">
        <div class="header-content">
            <a href="Index.html" th:href="@{/}" class="logo"><img src="../static/img/logo_01.png" th:src="@{/img/logo_01.png}" alt="Logo"></a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="Index.html" th:href="@{/}">Home</a></li>
                <li><a href="Forum.html" th:href="@{/forum}">Forum</a></li>
                <li><a href="User.html" th:if="${isAuthenticated}" th:href="@{/user}">MyProfile</a></li>
            </ul>
        </div>
    </header>
    <section class="title">
        <h1>Forum</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, exercitationem accusantium? Porro, similique eaque totam molestias quasi, vitae in ut ducimus maiores voluptate sint eveniet repellendus, possimus beatae? Tempora, pariatur?</p>
    </section>
    <section class="mainpage-tables">
        <div class="mainpage-tables-section">
            <h2>Top 10 recent posts</h2>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="mainpage-tables-section">
            <h2>Top 10 rated posts</h2>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
</body>
</html>