<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{Templates.html :: head('Main Page')}"></div>

<body>
    <div th:replace="~{Templates.html :: header}"></div>

    <section class="main-header">
        <img class="main-image" th:src="@{/img/Green and White Minimalist Nature Travel Vlog Youtube Thumbnail.png}" src="../static/img/Green and White Minimalist Nature Travel Vlog Youtube Thumbnail.png" alt="Cover_Photo">
        <div class="search">
            <div>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" placeholder="Search..">
            </div>
            <a href="Login.html" th:unless="${isAuthenticated}" th:href="@{/auth/login}"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
            <form th:if="${isAuthenticated}" th:action="@{/auth/logout}" method="post">
                <button type="submit" value="redirect:/"><i class="fa fa-user" aria-hidden="true"></i> Logout</button>
            </form>
        </div>
    </section>

    <section class="title">
        <h1>Forum</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, exercitationem accusantium? Porro, similique eaque totam molestias quasi, vitae in ut ducimus maiores voluptate sint eveniet repellendus, possimus beatae? Tempora, pariatur?</p>
    </section>
    <section class="mainpage-tables">
        <div class="mainpage-tables-section">
            <h2>Top 10 recent posts</h2>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="mainpage-tables-section">
            <h2>Top 10 rated posts</h2>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
            <a href="Post.html" th:href="@{/post}">
                <div class="mainpage-tables-section-comment">
                    <h3>Post title</h3>
                    <p>Post text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure exercitationem in veritatis velit deleniti autem nemo id expedita dolor eligendi qui facilis</p>
                </div>
                <div class="mainpage-tables-section-comment-attribute">
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <p>№ of Comments:</p>
                        <p>5</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <p>3</p>
                    </div>
                    <div class="mainpage-tables-section-comment-attribute-text">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        <p>2</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
</body>
</html>