<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css" th:href="@{/main.css}">
    <link rel="stylesheet" href="../static/header-main.css" th:href="@{/header-main.css}">
    <link rel="stylesheet" href="../static/login.css" th:href="@{/login.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="../static/img/Title.png">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="Index.html" th:href="@{/}" class="logo"><img src="../static/img/logo_01.png" th:src="@{/img/logo_01.png}" alt="Logo"></a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="Index.html" th:href="@{/}">Home</a></li>
                <li><a href="Forum.html" th:href="@{/forum}">Forum</a></li>
                <li><a href="User.html" th:href="@{/user}">MyProfile</a></li>
            </ul>
        </div>
    </header>
    
    <div class="login-box">
        <h2>Login</h2>
        <form th:action="@{/auth/login}" th:object="${login}" method="post">
            <div class="user-box">
                <input type="text" name="" required="">
                <label th:errors="*{username}">Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="" required="">
                <label>Password</label>
            </div>

                <button type="submit" value="Login">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
                </button>

        </form>
    </div>
    <a class="login-register" href="Register.html" th:href="@{/register}">If you don't have an account, click here.</a>
</body>
</html>