<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{Templates.html :: head('My Profile')}"></div>
<body>
<div th:replace="~{Templates.html :: header}"></div>
<div th:replace="~{Templates.html :: main-header('/img/Welkome_back_02.png')}"></div>
<section class="forum-create-post">
    <p th:text="${pos}"></p>
    <h2>Update the post</h2>
    <form th:action="@{__${requestURI}__}" th:object="${post}" method="post" action="#">
        <label for="title"> Add title</label>
        <input id="title" type="text" th:field="*{title}">
        <label for="content"> Post Text</label>
        <textarea th:field="*{content}" class="forum-create-post-textfield" placeholder="Start a new post..." id="content" name="postText"></textarea>

        <input class="forum-create-post-button" type="submit" value="Save">

        <div class="error-login-message" th:errors="*{title}">Title error placeholder</div>
        <div class="error-login-message" th:errors="*{content}">Content error placeholder</div>
    </form>

</section>

</body>
</html>