<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{Templates.html :: head('Main Page')}"></div>
<body>
<div th:replace="~{Templates.html :: header}"></div>
    
    <div class="login-box">
        <h2>Register</h2>
        <form th:action="@{/user}" th:object="${user}" action="#" method="post">
            <div class="user-box">
                <input th:field="*{firstName}" type="text" name="" required="">
                <label>First Name</label>
            </div>
            <div class="user-box">
                <input th:field="*{lastName}" type="text" name="" required="">
                <label>Last Name</label>
            </div>
            <div class="user-box">
                <input th:field="*{username}" type="text" name="" required="">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input th:field="*{password}" type="password" name="" required="">
                <label>Password</label>
            </div>
            <button type="submit" value="Register">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Register
            </button>
            <div class="error-login-message" th:errors="*{username}">Username error placeholder</div>
        </form>
    </div>
</body>
</html>