<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{Templates.html :: head('Admin')}"></div>
<body>
<div th:replace="~{Templates.html :: header}"></div>
<div th:replace="~{Templates.html :: main-header('/img/Welkome_back_02.png')}"></div>

<h2 class="Profile-title">Profile Information</h2>

<section th:object="${user}" class="Profile-user">
    <h3 class="Profile-user-name" th:text="'Hello ' + ${user.getUsername()}">Hello User</h3>
    <div class="border-bottom">
        <p>First name:</p>
        <p th:text="${user.getFirstName()}">Ivan</p>
    </div>
    <div class="border-bottom">
        <p>Last name:</p>
        <p th:text="${user.getLastName()}">Ivanov</p>
    </div>
    <div>
        <p>E-mail:</p>
        <p th:text="${user.getEmail()}">Ivan@abv.bg</p>
    </div>
    <div class="user-form">
        <a th:href="@{/user/admin/update}" href="#">Edit user information</a>
        <form th:action="@{/user/delete}" th:object="${user}" action="#" method="post">
            <button th:href="@{/user/delete}" href="#" type="submit">Delete</button>
        </form>
    </div>
</section>

<section class="user-filter-container">
    <form action="#" th:action="@{/user/admin}" method="get" th:object="${filterUsers}" class="user-filter-form">
        <label th:text="#{users.filter.label}">Filter Options</label>
        <br/><br/>
        <label>Username</label>
        <input type="text" id="username" placeholder="Username" th:field="*{username}" class="filter-input"/>
        <label>Email</label>
        <input type="text" id="email" placeholder="Email" th:field="*{email}" class="filter-input"/>
        <label>First name</label>
        <input type="text" id="firstName" placeholder="First name" th:field="*{firstName}" class="filter-input"/>

        <input type="submit" value="Search" class="search-btn"/>
    </form>

    <div th:if="${users.isEmpty()}" class="no-users-message">
        <h2 th:text="#{users.username.empty}">No Users</h2>
    </div>
</section>

<section class="user-table-section">
    <h3>All Users</h3>

    <table class="user-table">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Is Banned</th>
            <th>Edit</th>
        </tr>
        <tr th:each="user : ${users}" class="user-row">
            <td th:text="${user.getUsername()}">Ivan</td>
            <td th:text="${user.getEmail()}">ivan@abv.bg</td>
            <td th:text="${user.getFirstName()}">Ivan92</td>
            <td th:text="${user.isBanned()}">Yes</td>
            <td>
                <a th:href="@{'/user/admin/' + ${user.getId()}}" href="#" class="edit-link">Edit</a>
            </td>
        </tr>
    </table>
</section>
</body>
</html>