<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{Templates.html :: head('Admin')}"></div>
<body>
<div th:replace="~{Templates.html :: header}"></div>
<div th:replace="~{Templates.html :: main-header('/img/Welkome_back_02.png')}"></div>

<h2 class="Profile-title">Profile Information</h2>

<section class="Profile-user">
    <h3 class="Profile-user-name" th:text="'Hello ' + ${user.getUsername()}">Hello User</h3>
    <div class="border-bottom">
        <p>First name:</p>
        <p th:text="${user.getFirstName()}">Ivan</p>
    </div>
    <div class="border-bottom">
        <p>Last name:</p>
        <p th:text="${user.getLastName()}">Ivanov</p>
    </div>
    <div>
        <p>E-mail:</p>
        <p th:text="${user.getEmail()}">Ivan@abv.bg</p>
    </div>
    <div class="user-form">
        <a th:href="@{/user/update}" href="#">Edit user information</a>
        <form th:action="@{/user/delete}" th:object="${user}" action="#" method="post">
            <button th:href="@{/user/delete}" href="#" type="submit">Delete</button>
        </form>
    </div>
</section>
<section>
    <h3>All Users</h3>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Username</th>
            <th>Is admin</th>
            <th>Is banned</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>Ivan</td>
            <td>Ivanov</td>
            <td>ivan@abv.bg</td>
            <td>Ivan92</td>
            <td>
                <form action="#" method="post">
                    <select name="admin">
                        <option value="volvo">Yes</option>
                        <option value="saab">No</option>
                    </select>
                    <button href="#" type="submit">Update</button>
                </form>
            </td>
            <td>
                <form action="#" method="post">
                    <select name="banned">
                        <option value="volvo">Yes</option>
                        <option value="saab">No</option>
                    </select>
                    <button href="#" type="submit">Update</button>
                </form>
            </td>
            <td>
                <form action="#" method="post">
                    <button href="#" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>Ivan</td>
            <td>Ivanov</td>
            <td>ivan@abv.bg</td>
            <td>Ivan92</td>
            <td>
                <form action="#" method="post">
                    <select name="admin">
                        <option value="volvo">Yes</option>
                        <option value="saab">No</option>
                    </select>
                    <button href="#" type="submit">Update</button>
                </form>
            </td>
            <td>
                <form action="#" method="post">
                    <select name="banned">
                        <option value="volvo">Yes</option>
                        <option value="saab">No</option>
                    </select>
                    <button href="#" type="submit">Update</button>
                </form>
            </td>
            <td>
                <form action="#" method="post">
                    <button href="#" type="submit">Delete</button>
                </form>
            </td>
        </tr><tr>
        <td>Ivan</td>
        <td>Ivanov</td>
        <td>ivan@abv.bg</td>
        <td>Ivan92</td>
        <td>
            <form action="#" method="post">
                <select name="admin">
                    <option value="volvo">Yes</option>
                    <option value="saab">No</option>
                </select>
                <button href="#" type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="#" method="post">
                <select name="banned">
                    <option value="volvo">Yes</option>
                    <option value="saab">No</option>
                </select>
                <button href="#" type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="#" method="post">
                <button href="#" type="submit">Delete</button>
            </form>
        </td>
    </tr>


    </table>
</section>
</body>
</html>